<mat-toolbar class="navbar">
  <button mat-icon-button (click)="onToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-title">🐾 Petstore</span>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
    <span class="username">{{ authService.getUsername() }}</span>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
